body{
      background: url(./images/pattern-background-desktop.svg);
}
main{
      text-align: center;
      /* margin: 4em auto; */
      /* border-radius: 10px; */
}
#header-image img{
      height: 10em;
      width: 20em;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
}
#container-1{
      background-color: hsl(225, 100%, 98%);
      height: 23em;
      width: 20em;
      text-align: center;
      margin: 0 auto;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
}
#container-1 h1{
      margin-top: 0;
      padding-top: 35px;
}
#container{
      display: flex;
}
#container img{
      margin-left: 20px;
}
#container p{
      margin-left: 15px;
}
#container a{
      margin-left: 40px;
      margin-top: 18px;

}
#container a:hover{
      color: rgb(131, 130, 130);
      text-decoration: none;
      cursor: pointer;
}
#btn1{
      height: 3em;
      width: 20em;
      margin-top: 30px;
      border: none;
      border-radius: 10px;
      background-color: hsl(251, 92%, 45%);
      color: hsl(225, 100%, 98%);
      font-weight: 500;
      /* box-shadow: ; */
}
#btn1:hover{
      background-color: hsl(251, 67%, 64%);
      cursor: pointer;
}
#btn2{
      border: none;
      margin-top: 30px;
      color: hsl(228, 10%, 41%);
      font-weight: 500;
}
#btn2:hover{
      color: hsl(0, 0%, 0%);
      cursor: pointer;
}
